{% comment %}
Fill in the schedule for your incubator workshop below, based on the Data Carpentry Example.

The schedule would likely be different depending on the Incubator curriculum.

Fill in specific times for each section, or use the example below for morning and afternoon sessions with breaks in between.

Make sure you keep the links to the pre- and post-workshop surveys!
{% endcomment %}

<div class="row">
  <div class="col-md-6">
    <h5>Day 1</h5>
    <table class="table table-striped">
        <tr><td>  9:00 </td><td><a href="https://www.hpc-carpentry.org/hpc-python/03-lists/index.html">Numpy arrays</a></td></tr>
        <tr><td> 10:00 </td><td>Break</td></tr>
        <tr><td> 10:15 </td><td><a href="https://www.hpc-carpentry.org/hpc-python/04-dicts/index.html">Dictionaries</a></td></tr>
        <tr><td> 11:15 </td><td><a href="https://www.hpc-carpentry.org/hpc-python/04-dicts/index.html">Functions</a></td></tr>
        <tr><td> 11:45 </td><td>Lunch</td></tr>
        <tr><td> 12:30 </td><td>Excercises on functions</td></tr>
        <tr><td> 13:30 </td><td><a href="https://carpentries-incubator.github.io/introduction-to-conda-for-data-scientists/01-getting-started-with-conda/index.html">Conda: getting started</a></td></tr>
        <tr><td> 14:00 </td><td>Break</td></tr>
        <tr><td> 14:15 </td><td><a href="https://carpentries-incubator.github.io/introduction-to-conda-for-data-scientists/index.html">Working with Conda</a></td></tr>
        <tr><td> 15:30 </td><td>Wrapping up</td></tr>
      </table>
  </div>
</div>

